:root {
  --canvas-top-margin: 7px;
  --background-all: #978897;
  --default-button: #f0f6f6;
  --secondary-button: #887ac7;
  --primary-red: #721121;
  --primary-yellow: #ffa630;
  --primary-green: #519e8a;
  --secondary-accent: #519e8a;

  --button-roundedness: 10px;
  --list-background: #000000;
  --list-foreground: #ffffff;
  --list-roundedness: 3px;

  --frame-roundedness: 90px;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', 'Syne Mono', monospace , 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* */
/* PRIMARY BACKGROUND */
body {
  background-color: var(--background-all);
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: rgb(245, 0, 224);
  font-size: 20px;
}

div.playlist {
  width: '50%';
  margin: 30;
}

button {
  color: rgb(109, 101, 28);
  background-color: burlywood;
  border-radius: 4px;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
}

/* PRIMARY DEFAULT BUTTON */
button.pure-button {
  font-size: 100%;
  background: var(--default-button);
  padding: 10px 32px;
  border-radius: var(--button-roundedness);
  text-align: center;
}

/* PRIMARY DEFAULT BUTTON */
button.button-prev {
  background: var(--primary-yellow);
}
button.button-next {
  background: var(--primary-green);
}
button.button-clear {
  background: var(--primary-red);   
}
/*  */




button.button-hide {
  font-size: 100%;
  margin-top:10px;
  padding: 8px 32px;
}

button.button-order-num {
  padding: 3px 8px;
  margin-top: var(--canvas-top-margin);
}

button.button-sizer {
  background: #7584ad;
  padding: 0px 20px;
  font-size: 130%;
  margin-top: var(--canvas-top-margin);
  margin-right: 3px;
}
button.button-canvas {
  color: rgb(109, 101, 28);
  /*background: #e9c46a;*/
  padding: 3px 20px;
  margin-top: var(--canvas-top-margin);
}


/* AUDIO BUTTON DEFN */
button.button-record {
  color: rgb(255, 255, 255);
  background: var(--primary-red);
  padding: 3px 10px;
  margin-top: var(--canvas-top-margin);
}
button.button-stop {
  color: rgb(255, 255, 255);
  background: var(--primary-red);
  padding: 3px 10px;
  margin-top: var(--canvas-top-margin);
}
button.button-download {
  color: rgb(255, 255, 255);
  background: var(--secondary-button);
  padding: 3px 10px;
  margin-top: var(--canvas-top-margin);
}

SketchPicker.color-picker {
  background: cadetblue;
}

.divider{
  width:10px;
  height:auto;
  display:inline-block;
}

.preview{
  width: '50%';
  margin: 30;
}

/* DRAGGABLE */
.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 580px;
  height: 240px;
  margin: 10px;
  padding: 10px;
  float: left;
}
.no-cursor {
  cursor: auto;
}
.handle {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}

#finite-list {
  background: #fff;
  padding: 15px;
  width: 90%;
  height: 400px;
  overflow: scroll;
}
.snapshot-generator {
  /* display: block; */
  height: 1px;
  left: 0;
  object-fit: contain;
  position: fixed;
  top: 0;
  width: 1px;
  z-index: -1;
}