:root {
  --canvas-top-margin: 7px;
}

body {
  margin: 0;
  font-family: 'Syne Mono', monospace , 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: rgb(26,46,53);
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: rgb(245, 0, 224);
  font-size: 20px;
}

div.playlist {
  width: '50%';
  margin: 30;
}

button {
  color: rgb(109, 101, 28);
  background-color: burlywood;
  border-radius: 4px;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

button.pure-button {
  background: #aed1d6;
  padding: 10px 32px;
  border-radius: 10px;
  text-align: center;
}

button.button-prev {
  background: #e9c46a;
}
button.button-next {
  background: #2a9d8f;
}
button.button-clear {
  font-size: 80%;
  margin-top:10px;
  padding: 8px 32px;
  background: #e76f51;
}

button.button-hide {
  font-size: 80%;
  margin-top:10px;
  padding: 8px 32px;
}

button.button-order-num {
  padding: 3px 8px;
  margin-top: var(--canvas-top-margin);
}

button.button-sizer {
  background: #7584ad;
  padding: 0px 20px;
  font-size: 130%;
  margin-top: var(--canvas-top-margin);
  margin-right: 3px;
}
button.button-canvas {
  color: rgb(109, 101, 28);
  background: #e9c46a;
  padding: 3px 20px;
  margin-top: var(--canvas-top-margin);
}

SketchPicker.color-picker {
  background: cadetblue;
}

.divider{
  width:10px;
  height:auto;
  display:inline-block;
}

.preview{
  width: '50%';
  margin: 30;
}