:root {
  /* --canvas-top-margin: 0px;
  --background-all: #978897;
  --default-button: #f0f6f6;
  --secondary-button: #887ac7;
  --primary-red: #721121;
  --primary-yellow: #ffa630;
  --primary-green: #519e8a;
  --secondary-accent: #519e8a;
  --button-roundedness: 3px;
  --frame-roundedness: 90px;
  --list-roundedness: 3px; */

  --background-all: rgb(83, 83, 83);
  --primary-red: #b90505;     /*=button-delete*/
  --primary-yellow: #b86f03;  /*=button-action*/
  --primary-green: #037445;
  --button-background: burlywood;
  --button-textcolor: black;
  --button-files: #037445;
  --button-nonaction: rgb(251, 255, 0);
  --button-delete-hover: #fd0202;
  --button-files-hover: #03fa93;
  --button-action-hover: #fca235;  
  --list-background: black;
  --list-foreground: white;
}

html { 
  background: url(https://media.wired.com/photos/5ac3c5aaecb0130b0e7261e6/master/w_1600%2Cc_limit/odysseystation.jpg) no-repeat center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
  margin: 0;
  /* background-color: var(--background-all); */
  text-align: center;
  font-family: 'Space Grotesk', 'Syne Mono', monospace , 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* BUTTONS */
button {
  color: var(--button-textcolor);
  background-color: var(--button-background);
  /* margin: 4px 4px; =dashed border width */
}

button.action {
  background: var(--primary-yellow);
}
button.action:hover {
  background: var(--button-action-hover);
}

button.files {
  background-color: var(--button-files);
}
button.files:hover {
  background-color: var(--button-files-hover);
}

button.delete {
  background-color: var(--primary-red);
}
button.delete:hover {
  background-color: var(--button-delete-hover);
}

button.nonaction {
  background-color: var(--button-nonaction);
}

button.handle {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
/* BUTTONS */


/* METADATA */
div.metadata {
  display: flex; 
  flex-direction: row;
}
div.audio {
  margin: 30px;
}
div.dropzone {
  width: 10%;
  margin: 30px;
}
div.playlist{
  width: '40%';
  margin: 30px;
} 
div.preview {
  width: 100%;
  margin: 10px;
}
/* METADATA */


/* DROPZONE */
div.dropzone-border {
  /* // style={{ border: 'dashed red 4px', height: 100, width: 300, margin: 30, position: 'relative' }} */
  /* style={{ border: 'dashed red 4px', height: 100, position: 'relative', borderRadius: '3px'}} */
  border: dashed red 4px;
  height: 100px;
  position: relative;
  border-radius: 3px;
}

div.dropzone-shadow {
  /* style={{
    // border: 'dashed white 4px',
    backgroundColor: 'rgba(255,255,255,.8)',
    position: 'absolute',
    top: 0,
    bottom: 0,
    left: 0,
    right: 0,
    zIndex: 9999
}} */
  background-color: rgba(255,255,255,.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  color: green;
  font-size: 24px;
  padding: 35px 0px;
}
/* DROPZONE */


/* PLAYLIST */
.snapshot-generator {
  display: block;
  height: 1px;
  left: 0;
  object-fit: contain;
  position: fixed;
  top: 0;
  width: 1px;
  z-index: -1;
}
#finite-list {
  background: #e9c46a;
  height: 200px; /* =50*4 or =100*2 */
  width: 480px; /* =(160:90)*3 */
  overflow-y: scroll;
  padding: 4px;
}
div.list-item {
  display: flex;
  flex-direction: row;
  width: 480px;  /* =inifite-list width*/
  flex-wrap: nowrap;
}
div.preview-cell {
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: var(--list-background);
  color: var(--list-foreground);  
  font-family: Space Grotesk;
  border: 1px outset white;
  box-sizing: border-box;
  position: relative;
}
div.preview-cell:hover {
  background-color: var(--primary-green);
}
div.preview-cell.active {
  /* width: 100px;
  height: 50px;
  text-align: center; */
  background-color: var(--list-foreground);
  color: var(--list-background);  
  /* font-family: Space Grotesk;
  border: 1px inset white;
  box-sizing: border-box;
  position: relative; */
}
div.preview-cell.active:hover {
  background-color: var(--primary-red);
}
div.filename-cell {
  width: 360px;  /* =480-100-20*/
  height: 50px;
  text-align: center;
  background-color: var(--list-background);
  color: var(--list-foreground);  
  font-family: Space Grotesk;
  overflow-x: auto;
  border: 1px outset white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
div.filename-cell:hover {
  background-color: var(--primary-green);
}
div.filename-cell-active {
  width: 360px;
  height: 50px;
  text-align: center;
  background-color: var(--list-foreground);
  color: var(--list-background);  
  font-family: Space Grotesk;
  overflow-x: auto;
  border: 1px inset white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
div.filename-cell-active:hover {
  background-color: var(--primary-red);
}
div.delete-button {
  width: 20px;
  height: 50px;
  text-align: center;
  background-color: var(--list-background);
  color: var(--list-foreground);  
  font-family: Space Grotesk;
  border: 1px outset white;
  box-sizing: border-box;
}
div.delete-button:hover {
  background-color: var(--primary-green);
}
div.delete-button-active {
  width: 20px;
  height: 50px;
  text-align: center;
  background-color: var(--list-foreground);
  color: var(--list-background);  
  font-family: Space Grotesk;
  font-weight: bold;
  border: 1px inset white;
  box-sizing: border-box;
}
div.delete-button-active:hover {
  background-color: var(--primary-red);
}

.preview-img-list {
  width: 90px;  /* =100-5*2*/
  height: 40px;  /* =50-5*2*/
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


/* PLAYLIST GRID VIEW*/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  /* gap: 0.5rem; */
}

div.overlay {
  opacity: 0;
  z-index: 9999;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  height: 90px;
  width: 160px;
  text-align: center;
  color: var(--list-foreground);  
  font-family: Space Grotesk;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

div.overlay:hover {
  opacity: 1;
}

div.preview-cell-grid {
  height: 90px;
  width: 160px;
  text-align: center;
  background-color: var(--list-background);
  color: var(--list-foreground);  
  font-family: Space Grotesk;
  border: 1px outset white;
  box-sizing: border-box;
  position: relative;
}
div.preview-cell-grid:hover {
  background-color: var(--primary-green);
}
div.preview-cell-active-grid {
  height: 90px;
  width: 160px;
  text-align: center;
  background-color: var(--list-foreground);
  color: var(--list-background);  
  font-family: Space Grotesk;
  border: 1px inset white;
  box-sizing: border-box;
  position: relative;
}
div.preview-cell-active-grid:hover {
  background-color: var(--primary-red);
}
div.filename-cell-grid {
  height: 90px;
  width: 160px;
  text-align: center;
  background-color: var(--list-background);
  color: var(--list-foreground);  
  font-family: Space Grotesk;
  overflow-x: auto;
  border: 1px outset white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
div.filename-cell-grid:hover {
  background-color: var(--primary-green);
}
div.filename-cell-active-grid {
  height: 90px;
  width: 160px; 
  text-align: center;
  background-color: var(--list-foreground);
  color: var(--list-background);  
  font-family: Space Grotesk;
  overflow-x: auto;
  border: 1px inset white;
  box-sizing: border-box;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}
div.filename-cell-active-grid:hover {
  background-color: var(--primary-red);
}

.preview-img-grid {
  width: 150px;
  height: 80px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}








/* PLAYLIST*/


/* DRAWAREA */
div.draw-area {
    background-color: rgb(0,0,0,0.5);
    z-index: 100;
    position: absolute;
}
/* DRAWAREA */


/* EDITOR */
.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 580px;
  height: 240px;
  margin: 10px;
  padding: 10px;
  float: left;
}
.no-cursor {
  cursor: auto;
}
.handle {
  background: greenyellow;
  text-align: center;
}
div.editor {
  width: 600px;
}
input.editor-filename {
  width: 600px;
}
/* EDITOR */



























/*** deprecated button system ***/
/* button {
  color: rgb(109, 101, 28); 
  border-radius: 4px;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
} */
/* PRIMARY DEFAULT BUTTON */
button.pure-button {
  font-size: 100%;
  background: var(--default-button);
  padding: 10px 32px;
  border-radius: var(--button-roundedness);
  text-align: center;
} 
/* PRIMARY DEFAULT BUTTON */
button.button-prev {
  background: var(--primary-yellow);
}
button.button-next {
  background: var(--primary-green);
}
button.button-clear {
  background: var(--primary-red);   
}
button.button-hide {
  font-size: 100%;
  margin-top:10px;
  padding: 8px 32px;
}
button.button-order-num {
  padding: 3px 8px;
  margin-top: var(--canvas-top-margin);
}
button.button-sizer {
  background: #7584ad;
  padding: 0px 20px;
  font-size: 130%;
  margin-top: var(--canvas-top-margin);
  margin-right: 3px;
}
button.button-canvas {
  color: rgb(109, 101, 28);
  background: #e9c46a;
  padding: 3px 20px;
  margin-top: var(--canvas-top-margin); 
}
/* AUDIO BUTTON DEFN */
button.button-record {
  color: rgb(255, 255, 255);
  background: var(--primary-red);
  padding: 3px 10px;
  margin-top: var(--canvas-top-margin);
}
button.button-stop {
  color: rgb(255, 255, 255);
  background: var(--primary-red);
  padding: 3px 10px;
  margin-top: var(--canvas-top-margin);
}
button.button-download {
  color: rgb(255, 255, 255);
  background: var(--secondary-button);
  padding: 3px 10px;
  margin-top: var(--canvas-top-margin);
} 

/* SketchPicker.color-picker {
  background: cadetblue;
} */

/* .divider{
  width:10px;
  height:auto;
  display:inline-block;
} */